<div class="sr-simcrick__scb srm-border">
    <div class="sr-bb sr-simcrick-scb sr-ltr sr-scr-medium sr-scr-large" data-responsive="{&quot;small&quot;:{&quot;width&quot;:&quot;-280&quot;,&quot;classes&quot;:&quot;sr-scr-small&quot;},&quot;medium&quot;:{&quot;width&quot;:&quot;280-420&quot;,&quot;classes&quot;:&quot;sr-scr-medium&quot;},&quot;large&quot;:{&quot;width&quot;:&quot;280-&quot;,&quot;classes&quot;:&quot;sr-scr-large&quot;}}" data-responsive-key="simcrick-scb" data-resp-id="3">
       <div class="sr-simcrick-scb__wrapper srt-base-1">
          <div class="sr-simcrick-scb__team-wrapper srm-left">
             <div class="sr-simcrick-scb__team srm-left">
                <div class="sr-simcrick-scb__team-name ng-binding">
                   Australia
                </div>
             </div>
             <!-- ngIf: scorecard --><div data-ng-if="scorecard" class="sr-simcrick-scb__result srm-left ng-binding ng-scope">
                473/9
                <!-- ngIf: !scorecard.innings[getInning(sportEvent.categories[0].categoryValue)] -->
             </div><!-- end ngIf: scorecard -->
             <!-- <div data-ng-if="scorecard" class="sr-simcrick-scb__result srm-left">
                {{scorecard.innings[1].summary}}
                <span data-ng-if="!scorecard.innings[1]"
                   class="sr-simcrick-scb__result-title">Yet to bat</span>
             </div> -->
             <!-- ngIf: scorecard --><div data-ng-if="scorecard" class="sr-simcrick-scb__extra srm-left ng-scope">
                <span>CRR</span>
                <span class="sr-simcrick-scb__extra-value">&nbsp;7.05</span>
             </div><!-- end ngIf: scorecard -->
          </div>
          <div class="sr-simcrick-scb__result-sep">:</div>
          <div class="sr-simcrick-scb__team-wrapper srm-right">
             <div class="sr-simcrick-scb__team srm-right">
                <div class="sr-simcrick-scb__team-name ng-binding">
                   England</div>
             </div>
             <!-- ngIf: scorecard --><div data-ng-if="scorecard" class="sr-simcrick-scb__result srm-right ng-binding ng-scope">
                17/2
                <!-- ngIf: !scorecard.innings[getInning(sportEvent.categories[1].categoryValue)] -->
             </div><!-- end ngIf: scorecard -->
          </div>
          <div class="sr-simcrick-scb__status srt-text-secondary srt-neutral-9">
             <span class="sr-simcrick-scb__simulated-info">
                Simulated match
             </span>
             <span>&nbsp;-&nbsp;</span>
             <!-- ngIf: !scorecard -->
             <!-- ngIf: scorecard --><span data-ng-if="scorecard" class="ng-binding ng-scope">INN
                2</span><!-- end ngIf: scorecard -->
             <!-- ngIf: scorecard --><span data-ng-if="scorecard" class="ng-scope">&nbsp;|&nbsp;</span><!-- end ngIf: scorecard -->
             <!-- ngIf: scorecard --><span data-ng-if="scorecard" class="ng-binding ng-scope">8.4&nbsp;</span><!-- end ngIf: scorecard -->
             <!-- ngIf: scorecard --><span data-ng-if="scorecard" class="ng-scope">OV</span><!-- end ngIf: scorecard -->
          </div>
          <!-- ngIf: scorecard --><div data-ng-if="scorecard" class="sr-simcrick-scb__comment ng-binding ng-scope">
             Close of Play. England are 17 for 2 after 8.4 overs.
          </div><!-- end ngIf: scorecard -->
       </div>
    </div>
 </div>



 